<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        window.onload = function () {
            // Load author from local storage when the page loads
            var author = localStorage.getItem('author');
            if (author) {
                console.log('Author loaded from local storage:', author)
                var select = document.getElementById('author');
                for (var i = 0; i < select.options.length; i++) {
                    if (select.options[i].value === author) {
                        select.options[i].selected = true;
                        break;
                    }
                }
            }
        };

        function saveAuthor() {
            // Save author to local storage when the form is submitted
            var author = document.getElementById('author').value;
            localStorage.setItem('author', author);
            console.log('Author saved to local storage:', author);
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="title-container">
            <h1>Survey for Trial {{ trial['nctId'] }}</h1>
        </div>

    <div class="supply_info">
                    {% if trial['trial'].get('officialTitle') %}
                <h2>Official Title</h2>
                <div class="trial-info">
                    {{ trial['trial']['officialTitle'] | nl2br | safe }}
                </div>
                {% endif %}
                {% if trial['trial'].get('briefSummary') %}
                <h2>Brief Summary</h2>
                <div class="trial-info">
                    {{ trial['trial']['briefSummary'] | nl2br | safe }}
                </div>
                {% endif %}
                {% if trial['trial'].get('detailedDescription') %}
                <h2>Detailed Description</h2>
                <div class="trial-info">
                    {{ trial['trial']['detailedDescription'] | nl2br | safe }}
                </div>
                {% endif %}
    </div>
        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}
        <div class="content">
            <div class="right-section">
                <h2>Patient ID</h2>
                <div class="patient-id">
                    {{ trial['patient_id'] }}
                </div>
                <h2>Patient Description</h2>
                <div class="patient-info">
                    {{ trial['patient_info'] | nl2br | safe }}
                </div>
            </div>
            <div class="left-section">
                <form method="post" onsubmit="saveAuthor()">
                    <div class="author-selection">
                        <label for="author">Author:</label><br>
                        <select id="author" name="author" required>
                            <option value="Clusmann">Clusmann</option>
                            <option value="Kather">Kather</option>
                            <option value="Wiest">Wiest</option>
                            <option value="Ferber">Ferber</option>
                            <option value="Lessman">Lessmann</option>
                        </select><br>
                    </div>
                    <div class="criteria-section">
                        {% for section, nested_criteria in trial['structured_criteria'].items() %}
                        {% if 'Inclusion Criteria:' in nested_criteria %}
                        <h3>{{ nested_criteria['Inclusion Criteria:'][0] }}</h3>
                        {% endif %}
                        {% if 'Exclusion Criteria:' in nested_criteria %}
                        <h3>{{ nested_criteria['Exclusion Criteria:'][0] }}</h3>
                        {% endif %}
                        <div class="criteria-container">
                            {% for term, criteria_list in nested_criteria.items() %}
                            <div class="criteria-group">
                                <h4>{{ term }}</h4>
                                <ul>
                                    {% set logic = criteria_list[0] %}
                                    {% set real_criteria = criteria_list[1] %}
                                    {% for item in real_criteria %}
                                    {% if item is string %}
                                    <li>
                                        <label>{{ item }}</label><br>
                                        <input type="radio" id="{{ term }}|{{ item }}_eligible"
                                            name="{{ term }}|{{ item }}" value="True" {% if previous_results.get(term
                                            + '|' + item)=='True' %}checked{% endif %}>
                                        <label for="{{ term }}|{{ item }}_eligible" class="radio-label">Eligible</label>
                                        <input type="radio" id="{{ term }}|{{ item }}_not_eligible"
                                            name="{{ term }}|{{ item }}" value="False" {% if previous_results.get(term
                                            + '|' + item)=='False' %}checked{% endif %}>
                                        <label for="{{ term }}|{{ item }}_not_eligible" class="radio-label">Not
                                            Eligible</label>
                                        <input type="radio" id="{{ term }}|{{ item }}_unknown"
                                            name="{{ term }}|{{ item }}" value="?" {% if previous_results.get(term + '|'
                                            + item)=='?' %}checked{% endif %}>
                                        <label for="{{ term }}|{{ item }}_unknown" class="radio-label">?</label>
                                    </li>
                                    {% elif item is iterable and not item is string %}
                                    <div class="sublist-container">
                                        <ul>
                                            {% for subitem in item %}
                                            <li>
                                                <label>{{ subitem }}</label><br>
                                                <input type="radio" id="{{ term }}|{{ subitem }}_eligible"
                                                    name="{{ term }}|{{ subitem }}" value="True" {% if
                                                    previous_results.get(term + '|' + subitem)=='True' %}checked{% endif
                                                    %}>
                                                <label for="{{ term }}|{{ subitem }}_eligible"
                                                    class="radio-label">Eligible</label>
                                                <input type="radio" id="{{ term }}|{{ subitem }}_not_eligible"
                                                    name="{{ term }}|{{ subitem }}" value="False" {% if
                                                    previous_results.get(term + '|' + subitem)=='False' %}checked{%
                                                    endif %}>
                                                <label for="{{ term }}|{{ subitem }}_not_eligible"
                                                    class="radio-label">Not Eligible</label>
                                                <input type="radio" id="{{ term }}|{{ subitem }}_unknown"
                                                    name="{{ term }}|{{ subitem }}" value="?" {% if
                                                    previous_results.get(term + '|' + subitem)=='?' %}checked{% endif
                                                    %}>
                                                <label for="{{ term }}|{{ subitem }}_unknown"
                                                    class="radio-label">?</label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% set unique_id = term + '_global' + loop.index|string %}
                                        <li>
                                            <label>Is the global criterion met? (Patient is eligible?)</label><br>
                                            <input type="radio" id="{{ unique_id }}_eligible" name="{{ unique_id }}"
                                                value="True" {% if previous_results.get(unique_id)=='True' %}checked{%
                                                endif %}>
                                            <label for="{{ unique_id }}_eligible" class="radio-label">Eligible</label>
                                            <input type="radio" id="{{ unique_id }}_not_eligible" name="{{ unique_id }}"
                                                value="False" {% if previous_results.get(unique_id)=='False' %}checked{%
                                                endif %}>
                                            <label for="{{ unique_id }}_not_eligible" class="radio-label">Not
                                                Eligible</label>
                                            <input type="radio" id="{{ unique_id }}_unknown" name="{{ unique_id }}"
                                                value="?" {% if previous_results.get(unique_id)=='?' %}checked{% endif
                                                %}>
                                            <label for="{{ unique_id }}_unknown" class="radio-label">?</label>
                                        </li>
                                    </div>
                                    {% else %}
                                    <li>Unknown criterion type: {{ item }}</li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
