body {
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    color: #333;
}

form {
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 10px 0;
}

label {
    margin-right: 10px;
    display: block;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
